**
Data Types in Python
By default Python have these data types:

strings - used to represent text data, the text is given under quote marks. e.g. "ABCD"
integer - used to represent integer numbers. e.g. -1, -2, -3
float - used to represent real numbers. e.g. 1.2, 42.42
boolean - used to represent True or False.
complex - used to represent complex numbers. e.g. 1.0 + 2.0j, 1.5 + 2.5j
Data Types in NumPy
NumPy has some extra data types, and refer to data types with one character, like i for integers, u for unsigned integers etc.

Below is a list of all data types in NumPy and the characters used to represent them.

i - integer
b - boolean
u - unsigned integer
f - float
c - complex float
m - timedelta
M - datetime
O - object
S - string
U - unicode string
V - fixed chunk of memory for other type ( void )
**

In [2]:
import numpy as np
var=np.array([1,2,3,4])
print("Data Type : ",var.dtype)

Data Type :  int32

In [2]:
var=np.array([1.2,2.0,3,4])
print("Data Type : ",var.dtype)

Data Type :  float64

In [3]:
var=np.array(["A","B","C","D"])
print("Data Type : ",var.dtype)

Data Type :  <U1

In [4]:
var=np.array(["A","B",3,4])
print("Data Type : ",var.dtype)

Data Type :  <U11

In [8]:
x=np.array([1,2,3,4],dtype=np.int8)
print("Data Type : ",x.dtype) 
print(x)

Data Type :  int8
[1 2 3 4]

In [10]:
x1=np.array([1,2,3,4],dtype="f")
print("Data Type : ",x1.dtype) 
print(x1)

Data Type :  float32
[1. 2. 3. 4.]

In [3]:
x2=np.array([1,2,3,4])
new =np.float32(x2)
new2=np.int_(new)

print("Data Type : ",x2.dtype)
print("Data Type : ",new.dtype)
print("Data Type : ",new2.dtype)

print(x2)
print(new)
print(new2)

Data Type :  int32
Data Type :  float32
Data Type :  int32
[1 2 3 4]
[1. 2. 3. 4.]
[1 2 3 4]